body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #fff0f5;
    color: #5c3c47;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url(BG.png);
}

main {
    margin-top: 140px; 
}

.cart-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9c5d1;
    padding: 10px 40px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header .logo img {
    height: 100px;
}

nav a {
    padding: 30px 60px;
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-size: 16px;
    font-weight: 600;
    transition: color 1s, transform 1s;
    align-self: center;
    justify-content: center;
    width: 100%;
    margin-right: 8px;
}

nav a:hover {
    color:#f7a8b8;
    background-color:#ffffff;
    transform: translateY(-3px) scale(1.05);
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    nav {
        display: none;
    }

    header {
        justify-content: center;
    }

    .product-card {
        width: 90%;
        height: auto;
    }

    .product-image img {
        height: auto;
    }
}
